# ==========================================
# WordPress Docker Environment Configuration
# ==========================================

# Port Configuration
WP_PORT=8080

# Database Settings
DB_NAME=wordpress
DB_USER=wordpress
DB_PASSWORD=wordpress_db_pass
DB_ROOT_PASSWORD=wordpress_root_pass

# WordPress Initial Setup Settings
WP_URL="http://localhost:8080"
WP_TITLE="Goro ev station"
WP_ADMIN_USER="goroadmev"
WP_ADMIN_PASSWORD="zovukqGGds2PNHEb"
WP_ADMIN_EMAIL="admin@goro-ev.local"
